---
import Layout from "../../layouts/Layout.astro"
---

<Layout bg="secondary" title="Massagem Shiatsu">
  <article class="mx-auto max-w-[80ch] px-4 py-10 lg:px-0 lg:py-20">
    <a href="/" class="font-text-bold hover:underline"
      ><img src="/icons/left-arrow.svg" class="mr-2 inline" />Voltar para o
      inicio</a
    >
    <section>
      <h1 class="mb-4 mt-8 font-title text-3xl text-[#695125] lg:text-6xl">
       Drenagem Linfática
      </h1>
      <img
        src="https://www.instyle.com/thmb/dS9tkYgHDtHfnpneIXur8LeN7dk=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/071822-Beauty-lympathic-massage-SOC-2000-3b6dcbc4d00e49c5a30126dab6e636a4.jpg"
        class="h-[290px] w-full rounded-md object-cover"
        alt="Massagem Shiatsu"
      />

      <div class="info mt-4 flex justify-between">
        <div class="duration flex items-center gap-2">
          <img class="inline" src="/icons/clock.svg" alt="" /><span
            class="font-text text-lg font-bold">50 minutos</span
          >
        </div>
        <div class="price flex items-center gap-2">
          <img class="inline" src="/icons/money.svg" alt="" /><span
            class="font-text text-lg font-bold">R$ 89,90</span
          >
        </div>
      </div>

      <a
        class="mt mt-4 block border-4 border-primary px-6 py-3 text-center font-text font-bold text-[#695125] transition hover:bg-white hover:text-black lg:text-lg"
        href="https://wa.me/48991191144?text=Oi!%20Gostaria%20de%20marcar%20um%20horario"
        target="_blank">Agendar massagem</a
      >

      <div class="">
        <h2 class="mt-8 font-text text-2xl lg:text-3xl">
          O qué é a drenagem linfática?
        </h2>
        <p class="mt-4 font-text text-lg">
          A drenagem linfática tem como objetivo aumentar o volume e a
          velocidade da linfa a ser transportada pelos vasos e ductos
          linfáticos, por meio de manobras que imitem o bombeamento fisiológico
        </p>
        <p class="mt-4 font-text text-lg">
          Trata-se de uma técnica composta por manobras suaves, lentas,
          monótonas e rítmicas feita com as mãos, que devem obedecer ao trajeto
          do sistema linfático superficial.
        </p>
        <p class="mt-4 font-text text-lg">
          Ela tem por objetivo a redução de edemas e linfedemas (que surgem em
          situações pós-traumáticas, pós-operatórias, de distúrbios
          circulatórios venosos e linfáticos de diversas naturezas, dentre
          outras) e a prevenção ou melhoria de algumas de suas consequências.
        </p>
      </div>
    </section>

    <section>
      <h2 class="mt-8 font-text text-2xl lg:text-3xl">
        Quais são os benefícios?
      </h2>

      <p class="mt-4 font-text text-lg">
        Os benefícios da drenagem linfática são amplos e abrangem tanto o corpo
        quanto a mente
      </p>

      <p class="mt-4 font-text text-lg">
        Vamos ver agora as principais dores e doenças que a drenagem linfática
        pode prevenir ou auxiliar no processo de cura:
      </p>

      <ul class="mt-4 list-inside list-disc font-text text-lg">
        <li>Redução do Edema e Retenção de Líquidos</li>
        <li>Melhora na Circulação Sanguínea</li>
        <li>Auxílio na Cicatrização e Recuperação Pós-Cirúrgica</li>
        <li>Promoção do Relaxamento Muscular</li>
        <li>Melhora na Aparência da Pele</li>
        <li>Aumento da Absorção de Nutrientes e Eliminação de Toxinas</li>
        <li>Prevenção de Complicações</li>
        <li>Coadjuvante em Tratamentos Estéticos e Terapêuticos</li>
      </ul>
      <a
        class="mt mt-8 block border-4 border-primary px-6 py-3 text-center font-text font-bold text-[#695125] transition hover:bg-white hover:text-black lg:text-lg"
        href="https://wa.me/48991191144?text=Oi!%20Gostaria%20de%20marcar%20um%20horario"
        target="_blank">Agendar massagem</a
      >
    </section>
  </article>
</Layout>
