---
import Layout from "../../layouts/Layout.astro"
---

<Layout bg="secondary" title="Massagem Shiatsu">
  <article class="mx-auto max-w-[80ch] px-4 py-10 lg:px-0 lg:py-20">
    <a href="/" class="font-text-bold hover:underline"
      ><img src="/icons/left-arrow.svg" class="mr-2 inline" />Voltar para o
      inicio</a
    >
    <section>
      <h1 class="mb-4 mt-8 font-title text-3xl text-[#695125] lg:text-6xl">
        Lomi Lomi
      </h1>
      <img
        src="https://www.espacoprana.com.br/wp-content/uploads/2023/10/blog-1-1.jpg"
        class="h-[290px] w-full rounded-md object-cover"
        alt="Massagem Shiatsu"
      />

      <div class="info mt-4 flex justify-between">
        <div class="duration flex items-center gap-2">
          <img class="inline" src="/icons/clock.svg" alt="" /><span
            class="font-text text-lg font-bold">50 minutos</span
          >
        </div>
        <div class="price flex items-center gap-2">
          <img class="inline" src="/icons/money.svg" alt="" /><span
            class="font-text text-lg font-bold">R$ 89,90</span
          >
        </div>
      </div>

      <a
        class="mt mt-4 block border-4 border-primary px-6 py-3 text-center font-text font-bold text-[#695125] transition hover:bg-white hover:text-black lg:text-lg"
        href="https://wa.me/48991191144?text=Oi!%20Gostaria%20de%20marcar%20um%20horario"
        target="_blank">Agendar massagem</a
      >

      <div class="">
        <h2 class="mt-8 font-text text-2xl lg:text-3xl">
          O qué é a massagem lomi lomi?
        </h2>
        <p class="mt-4 font-text text-lg">
          A massagem Lomi Lomi também é conhecida como Massagem Havaiana e
          integra a medicina tradicional havaiana. Acredita-se que essa massagem
          possui mais de 4.000 anos de existência e surgiu na Polinésia (mais
          precisamente, no Havaí).
        </p>
        <p class="mt-4 font-text text-lg">
          Os povos antigos da Polinésia tinham uma visão do mundo através do
          ponto de vista das energias e acreditavam que os pensamentos ou
          emoções negativas, assim como as tensões musculares, poderiam bloquear
          o fluxo de energia, causando desequilíbrios que se manifestariam por
          meio de doenças e mal-estar.
        </p>
        <p class="mt-4 font-text text-lg">
          É uma massagem que pode variar conforme a percepção do terapeuta sobre
          o estado do paciente, podendo ser lenta e relaxante ou mais rápida.
        </p>
      </div>
    </section>

    <section>
      <h2 class="mt-8 font-text text-2xl lg:text-3xl">
        Quais são os benefícios?
      </h2>

      <p class="mt-4 font-text text-lg">
        Os benefícios da massagem lomi lomi são amplos e abrangem tanto o corpo
        quanto a mente
      </p>

      <p class="mt-4 font-text text-lg">
        Vamos ver agora as principais dores e doenças que a massagem lomi lomi
        pode prevenir ou auxiliar no processo de cura:
      </p>

      <ul class="mt-4 list-inside list-disc font-text text-lg">
        <li>Aliviar dores.</li>
        <li>Renovar as energias.</li>
        <li>Relaxar a musculatura.</li>
        <li>Combater o estresse.</li>
        <li>Melhorar a digestão.</li>
        <li>Auxiliar no tratamento para a depressão.</li>
        <li>Melhorar a flexibilidade das articulações.</li>
        <li>Tonificar o sistema linfático.</li>
        <li>Favorecer o sistema circulatório e respiratório.</li>
      </ul>
      <a
        class="mt mt-8 block border-4 border-primary px-6 py-3 text-center font-text font-bold text-[#695125] transition hover:bg-white hover:text-black lg:text-lg"
        href="https://wa.me/48991191144?text=Oi!%20Gostaria%20de%20marcar%20um%20horario"
        target="_blank">Agendar massagem</a
      >
    </section>
  </article>
</Layout>
