---
import Layout from "../../layouts/Layout.astro"
---

<Layout bg="secondary" title="Massagem Shiatsu">
  <article class="mx-auto max-w-[80ch] px-4 py-10 lg:px-0 lg:py-20">
    <a href="/" class="font-text-bold hover:underline"
      ><img src="/icons/left-arrow.svg" class="mr-2 inline" />Voltar para o
      inicio</a
    >
    <section>
      <h1 class="mb-4 mt-8 font-title text-3xl text-[#695125] lg:text-6xl">
        Massagem Relaxante
      </h1>
      <img
        src="https://www.goodnet.org/photos/620x0/28755_hd.jpg"
        class="h-[290px] w-full rounded-md object-cover"
        alt="Massagem Shiatsu"
      />

      <div class="info mt-4 flex justify-between">
        <div class="duration flex items-center gap-2">
          <img class="inline" src="/icons/clock.svg" alt="" /><span
            class="font-text text-lg font-bold">50 minutos</span
          >
        </div>
        <div class="price flex items-center gap-2">
          <img class="inline" src="/icons/money.svg" alt="" /><span
            class="font-text text-lg font-bold">R$ 89,90</span
          >
        </div>
      </div>

      <a
        class="mt mt-4 block border-4 border-primary px-6 py-3 text-center font-text font-bold text-[#695125] transition hover:bg-white hover:text-black lg:text-lg"
        href="https://wa.me/48991191144?text=Oi!%20Gostaria%20de%20marcar%20um%20horario"
        target="_blank">Agendar massagem</a
      >

      <div class="">
        <h2 class="mt-8 font-text text-2xl lg:text-3xl">
          O qué é a massagem relaxante?
        </h2>
        <p class="mt-4 font-text text-lg">
          A massagem relaxante é uma técnica terapêutica que envolve a aplicação
          de pressão suave a moderada nos músculos e tecidos do corpo, com o
          objetivo de promover relaxamento e alívio do estresse.
        </p>
        <p class="mt-4 font-text text-lg">
          Essa forma de massagem é conhecida por suas propriedades relaxantes e
          calmantes, e é uma das modalidades mais populares dentro da área de
          terapias de massagem.
        </p>
        <p class="mt-4 font-text text-lg">
          Durante uma sessão desta massagem, um terapeuta habilidoso usa
          técnicas específicas, como deslizamento suave, amassamento, fricção e
          toques suaves, para liberar a tensão muscular e promover a circulação
          sanguínea.
        </p>
        <p class="mt-4 font-text text-lg">
          O profissional pode utilizar óleos ou cremes de massagem para
          facilitar os movimentos e melhorar a experiência do cliente.
        </p>
      </div>
    </section>

    <section>
      <h2 class="mt-8 font-text text-2xl lg:text-3xl">
        Quais são os benefícios?
      </h2>

      <p class="mt-4 font-text text-lg">
        Os benefícios da massagem relaxante são amplos e abrangem tanto o corpo
        quanto a mente
      </p>

      <p class="mt-4 font-text text-lg">
        Vamos ver agora as principais dores e doenças que a massagem relaxante
        pode prevenir ou auxiliar no processo de cura:
      </p>

      <ul class="mt-4 list-inside list-disc font-text text-lg">
        <li>Relaxamento muscular</li>
        <li>Alívio de dores musculares e articulares</li>
        <li>Melhora da flexibilidade e amplitude de movimento</li>
        <li>
          Estimulação do sistema linfático, auxiliando na eliminação de toxinas
        </li>
        <li>Redução da pressão arterial</li>
        <li>Melhora da qualidade do sono</li>
        <li>Fortalecimento do sistema imunológico</li>
      </ul>
      <a
        class="mt mt-8 block border-4 border-primary px-6 py-3 text-center font-text font-bold text-[#695125] transition hover:bg-white hover:text-black lg:text-lg"
        href="https://wa.me/48991191144?text=Oi!%20Gostaria%20de%20marcar%20um%20horario"
        target="_blank">Agendar massagem</a
      >
    </section>
  </article>
</Layout>
