---
import Layout from "../../layouts/Layout.astro"
---

<Layout bg="secondary" title="Massagem Shiatsu">
  <article class="mx-auto max-w-[80ch] px-4 py-10 lg:px-0 lg:py-20">
    <a href="/" class="font-text-bold hover:underline "
      ><img src="/icons/left-arrow.svg" class="mr-2 inline" />Voltar para o
      inicio</a
    >
    <section>
      <h1 class="mb-4 mt-8 font-title text-3xl text-[#695125] lg:text-6xl">
        Massagem Shiatsu
      </h1>
      <img
        src="https://www.royaltreatmenttherapeutics.com/wp-content/uploads/2018/07/02I20611.jpg"
        class="rounded-md"
        alt="Massagem Shiatsu"
      />
      <div class="">
        <h2 class="mt-8 font-text text-2xl lg:text-3xl">
          O qué é a massagem shiatsu?
        </h2>
        <p class="mt-4 font-text text-lg">
          A massagem Shiatsu é uma prática milenar, utilizada já há muitos anos
          pelos gregos, persas e chineses, inclusive como um tipo de arte
          espiritual. Isso porque pode ser essencial para o corpo e a alma.
        </p>
        <p class="mt-4 font-text text-lg">
          Na Massagem Shiatsu, é possível tratar os pontos de pressão do seu
          corpo e trazer benefícios incríveis se usada como uma terapia
          alternativa. Ela se baseia nos princípios da medicina oriental.
        </p>
        <p class="mt-4 font-text text-lg">
          O foco do Shiatsu vai além de tratar doenças e distúrbios,
          normalizando a fluidez da energia vital e também regulando seu
          organismo para eliminar e prevenir enfermidades de forma natural e
          segura.
        </p>
        <p class="mt-4 font-text text-lg">
          Quer saber mais sobre essa massagem e quais os benefícios? Continue
          neste artigo e confira!
        </p>
      </div>
    </section>

    <section>
      <h2 class="mt-8 font-text text-2xl lg:text-3xl">
        Quais são os benefícios?
      </h2>

      <p class="mt-4 font-text text-lg">
        Você já deve ter percebido que a massagem Shiatsu possui muitos
        benefícios tanto a <strong>saúde mental</strong>, quanto a <strong>saúde física</strong>.
      </p>

      <p class="mt-4 font-text text-lg">
        O Shiatsu garante saúde, mais vigor e disposição para quem deseja ter
        uma vida saudável e sem estresse.
      </p>

      <p class="mt-4 font-text text-lg">
        Vamos ver agora as principais dores e doenças que a massagem Shiatsu
        pode prevenir ou auxiliar no processo de cura:
      </p>

      <ul class="font-text text-lg mt-4 list-disc list-inside">
        <li>Dores musculares em geral</li>
        <li>Doenças pulmonares</li>
        <li>Depressão</li>
        <li>Ansiedade.</li>
        <li>Alivia crises de rinite e sinusite</li>
        <li>Previne varizes</li>
        <li>Bexiga caída</li>
        <li>Incontinência urinária e fecal</li>
        <li>Artrose</li>
        <li>Dores nas costas</li>
        <li>Artrite Reumatóide</li>
        <li>Cólicas menstruais</li>
        <li>Síndrome do pânico</li>
        <li>Hérnia de disco</li>
      </ul>
    </section>
  </article>
</Layout>

<style>
</style>
