---
import Layout from "../../layouts/Layout.astro"
---

<Layout bg="secondary" title="Massagem Shiatsu">
  <article class="mx-auto max-w-[80ch] px-4 py-10 lg:px-0 lg:py-20">
    <a href="/" class="font-text-bold hover:underline"
      ><img src="/icons/left-arrow.svg" class="mr-2 inline" />Voltar para o
      inicio</a
    >
    <section>
      <h1 class="mb-4 mt-8 font-title text-3xl text-[#695125] lg:text-6xl">
        Tailandêsa
      </h1>
      <img
        src="https://i0.wp.com/post.healthline.com/wp-content/uploads/2020/07/Young-female-receiving-massage-by-therapist-in-traditional-thai-position-1296x728-header.jpg?w=1155&h=1528"
        class="h-[290px] w-full rounded-md object-cover"
        alt="Massagem Shiatsu"
      />

      <div class="info mt-4 flex justify-between">
        <div class="duration flex items-center gap-2">
          <img class="inline" src="/icons/clock.svg" alt="" /><span
            class="font-text text-lg font-bold">50 minutos</span
          >
        </div>
        <div class="price flex items-center gap-2">
          <img class="inline" src="/icons/money.svg" alt="" /><span
            class="font-text text-lg font-bold">R$ 89,90</span
          >
        </div>
      </div>

      <a
        class="mt mt-4 block border-4 border-primary px-6 py-3 text-center font-text font-bold text-[#695125] transition hover:bg-white hover:text-black lg:text-lg"
        href="https://wa.me/48991191144?text=Oi!%20Gostaria%20de%20marcar%20um%20horario"
        target="_blank">Agendar massagem</a
      >

      <div class="">
        <h2 class="mt-8 font-text text-2xl lg:text-3xl">
          O qué é a massagem tailandêsa?
        </h2>
        <p class="mt-4 font-text text-lg">
          Este tipo de massagem, também conhecida como thai massagem, é uma
          prática antiga com origem na Índia, e utiliza técnicas suaves de
          alongamento, focando-se nos principais pontos energéticos do corpo
          para liberar a energia bloqueada, melhorando a dor e o desconforto,
          gerando sensação de relaxamento.
        </p>
        <p class="mt-4 font-text text-lg">
          Este tipo de massagem é muito recomendada para pessoas com
          dificuldades de dormir e que estão sempre nervosas, pois auxilia no
          relaxamento do corpo e na liberação de endorfinas, aumentando o
          bem-estar.
        </p>
      </div>
    </section>

    <section>
      <h2 class="mt-8 font-text text-2xl lg:text-3xl">
        Quais são os benefícios?
      </h2>

      <p class="mt-4 font-text text-lg">
        Os benefícios da massagem tailandêsa são amplos e abrangem tanto o corpo
        quanto a mente
      </p>

      <p class="mt-4 font-text text-lg">
        Vamos ver agora as principais dores e doenças que a massagem tailandêsa
        pode prevenir ou auxiliar no processo de cura:
      </p>

      <ul class="mt-4 list-inside list-disc font-text text-lg">
        <li>Reduzir o estresse e a ansiedade.</li>
        <li>Diminuir a tensão muscular.</li>
        <li>Melhorar a circulação sanguínea.</li>
        <li>Aumentar a energia.</li>
        <li>Aliviar dor lombar e dor de cabeça.</li>
        <li>Melhorar a flexibilidade.</li>
        <li>Aumentar a amplitude dos movimentos.</li>
        <li>Aliviar a dor e a rigidez nas articulações.</li>
      </ul>
      <a
        class="mt mt-8 block border-4 border-primary px-6 py-3 text-center font-text font-bold text-[#695125] transition hover:bg-white hover:text-black lg:text-lg"
        href="https://wa.me/48991191144?text=Oi!%20Gostaria%20de%20marcar%20um%20horario"
        target="_blank">Agendar massagem</a
      >
    </section>
  </article>
</Layout>
