---
import Layout from "../../layouts/Layout.astro"
---

<Layout bg="secondary" title="Massagem Shiatsu">
  <article class="mx-auto max-w-[80ch] px-4 py-10 lg:px-0 lg:py-20">
    <a href="/" class="font-text-bold hover:underline"
      ><img src="/icons/left-arrow.svg" class="mr-2 inline" />Voltar para o
      inicio</a
    >
    <section>
      <h1 class="mb-4 mt-8 font-title text-3xl text-[#695125] lg:text-6xl">
        Ventosaterapia
      </h1>
      <img
        src="https://media.post.rvohealth.io/wp-content/uploads/2019/01/Female_Cupping_Therapy_732x549-thumbnail.jpg"
        class="h-[290px] w-full rounded-md object-cover"
        alt="Massagem Shiatsu"
      />

      <div class="info mt-4 flex justify-between">
        <div class="duration flex items-center gap-2">
          <img class="inline" src="/icons/clock.svg" alt="" /><span
            class="font-text text-lg font-bold">50 minutos</span
          >
        </div>
        <div class="price flex items-center gap-2">
          <img class="inline" src="/icons/money.svg" alt="" /><span
            class="font-text text-lg font-bold">R$ 89,90</span
          >
        </div>
      </div>

      <a
        class="mt mt-4 block border-4 border-primary px-6 py-3 text-center font-text font-bold text-[#695125] transition hover:bg-white hover:text-black lg:text-lg"
        href="https://wa.me/48991191144?text=Oi!%20Gostaria%20de%20marcar%20um%20horario"
        target="_blank">Agendar massagem</a
      >

      <div class="">
        <h2 class="mt-8 font-text text-2xl lg:text-3xl">
          O qué é a ventosaterapia?
        </h2>
        <p class="mt-4 font-text text-lg">
          A ventosaterapia é uma técnica de medicina alternativa que envolve o
          uso de copos de vidro ou plástico para criar vácuo na pele e, assim,
          aumentar o fluxo sanguíneo para uma determinada área do corpo.
        </p>
        <p class="mt-4 font-text text-lg">
          A técnica ganhou destaque nos últimos anos, depois que o nadador
          americano Michael Phelps foi visto com marcas redondas em seu corpo
          durante as Olimpíadas do Rio de Janeiro em 2016. Essas marcas eram
          resultado de uma forma de ventosaterapia conhecida como “cupping”, que
          é comumente usada por atletas para ajudar na recuperação muscular.
        </p>
        <p class="mt-4 font-text text-lg">
          Funciona criando um vácuo nos copos que suga a pele e o tecido
          subcutâneo para dentro do copo. Isso aumenta o fluxo sanguíneo para a
          área afetada, o que pode ajudar a aliviar a dor, reduzir a inflamação
          e promover a cicatrização.
        </p>
      </div>
    </section>

    <section>
      <h2 class="mt-8 font-text text-2xl lg:text-3xl">
        Quais são os benefícios?
      </h2>

      <p class="mt-4 font-text text-lg">
        Os benefícios da ventosaterapia são amplos e abrangem tanto o corpo
        quanto a mente
      </p>

      <p class="mt-4 font-text text-lg">
        Vamos ver agora as principais dores e doenças que a ventosaterapia pode
        prevenir ou auxiliar no processo de cura:
      </p>

      <ul class="mt-4 list-inside list-disc font-text text-lg">
        <li>Alívio da dor</li>
        <li>Melhoria da circulação sanguínea</li>
        <li>Redução do estresse</li>
        <li>Aumento da flexibilidade</li>
        <li>Melhoria da digestão</li>
        <li>Desintoxicação do corpo</li>
        <li>Fortalecimento do sistema imunológico</li>
        <li>Auxílio no tratamento de doenças respiratórias</li>
        <li>Redução da celulite</li>
        <li>Promoção do relaxamento e bem-estar geral</li>
      </ul>
      <a
        class="mt mt-8 block border-4 border-primary px-6 py-3 text-center font-text font-bold text-[#695125] transition hover:bg-white hover:text-black lg:text-lg"
        href="https://wa.me/48991191144?text=Oi!%20Gostaria%20de%20marcar%20um%20horario"
        target="_blank">Agendar massagem</a
      >
    </section>
  </article>
</Layout>
