---

---

<section class="bg-primary">
  <div
    class="wrapper mx-auto flex max-w-container flex-col justify-between px-4 py-10 lg:flex-row lg:px-0 lg:py-16">
    <div class="side-text">
      <h2 class="font-title text-4xl text-[#FFFCF0] lg:text-5xl">
        Quem sou eu
      </h2>
      <p
        class="mt-6 max-w-[40ch] font-text text-base text-white lg:mt-9 lg:max-w-[50ch] lg:text-lg">
        Olá! Sou Yanet, uma <strong>massagista profissional</strong> apaixonada por
        bem-estar e cuidado pessoal, com mais de 15 anos de experiência na área.
        Especializada em uma variedade de técnicas, incluindo <strong>
          massagens relaxantes
        </strong>, <strong>anti-estresse</strong>, <strong>linfáticas</strong> e
        <strong>reflexologia</strong>, dedico-me a proporcionar um refúgio de
        tranquilidade e rejuvenescimento para todos os meus clientes. Estou aqui
        para guiá-lo em uma jornada de relaxamento e renovação, combinando minha
        expertise com um toque gentil e compassivo.
      </p>
      <p
        class="mt-3 max-w-[40ch] font-text text-base text-white lg:mt-6 lg:text-lg">
        Agende uma sessão comigo e deixe-me compartilhar minha vasta experiência
        e paixão pelo bem-estar com você. Estou ansiosa para ajudá-lo a alcançar
        um estado de harmonia e bem-estar duradouro.
      </p>
    </div>

    <div class="images mt-4 flex flex-col items-center gap-6 lg:mt-0">
      <img
        class="hidden h-[200px] w-full rounded-lg object-cover lg:block lg:h-[250px] lg:w-[400px]"
        src="/images/decoration1.webp"
        alt="Imagem de uma massagem relaxante"
      />
      <img
        class="h-[200px] w-full rounded-lg object-cover lg:h-[250px] lg:w-[400px]"
        src="/images/decoration2.webp"
        alt="Imagem de uma massagem relaxante"
      />
    </div>
  </div>
</section>
