---

---

<section class="bg-secondary">
  <div class="wrapper mx-auto max-w-container px-4 py-4 lg:px-0 lg:py-16">
    <div class="flex justify-center lg:justify-start">
      <img
        src="https://images.unsplash.com/photo-1608571423539-e951b9b3871e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fG1hc3NhZ2V8ZW58MHwxfDB8fHww"
        class="hidden h-[550px] lg:block"
      />
      <div
        class="side-col flex flex-grow flex-col items-center justify-between gap-4 lg:gap-0">
        <h2 class="text-center font-title text-4xl text-[#695125] lg:text-5xl">
          Entre em contato
        </h2>

        <div class="contacts">
          <ul class="flex flex-col gap-4 lg:gap-12">
            <li class="flex flex-row gap-6">
              <img src="/icons/location.svg" class="inline" />
              <div class="contact-info">
                <p class="font-text text-sm text-[#695125] lg:text-lg">
                  Endere&ccedil;o
                </p>
                <p class="font-text-bold text-sm text-[#695125] lg:text-lg">
                  Rua Madre Flávia Andretti 557, Barreiros, S&atilde;o José
                </p>
              </div>
            </li>
            <li class="flex flex-row gap-6">
              <img src="/icons/mail.svg" class="inline" />
              <div class="contact-info">
                <p class="font-text text-sm text-[#695125] lg:text-lg">
                  E-mail
                </p>
                <p class="font-text-bold text-sm text-[#695125] lg:text-lg">
                  yanettejeda1975@gmail.com
                </p>
              </div>
            </li>
            <li class="flex flex-row gap-6">
              <img src="/icons/phone.svg" class="inline" />
              <div class="contact-info">
                <p class="font-text text-sm text-[#695125] lg:text-lg">
                  Celular
                </p>
                <p class="font-text-bold text-sm text-[#695125] lg:text-lg">
                  (48) 99119-1144
                </p>
              </div>
            </li>
          </ul>
        </div>

        <a
          class="w-full border-4 border-primary px-6 py-3 text-center font-text text-[#695125] transition hover:bg-white hover:text-black lg:w-fit lg:text-lg"
          href="https://wa.me/48991191144?text=Oi!%20Gostaria%20de%20marcar%20um%20horario"
          target="_blank">Agende uma massagem</a
        >
      </div>
    </div>
  </div>
</section>
