---

---

<main class="h-[95dvh]">
  <header
    class="mx-auto flex max-w-container animate-fade-in items-center justify-center gap-4 px-2 pt-8 lg:justify-start lg:px-0">
    <img src="/icons/logo.svg" alt="Flor de loto" />
    <p
      class="w-[fit-content] text-center font-text-bold text-xs uppercase text-secondary lg:text-left lg:text-lg">
      Calmassage - Massagista Profissional
    </p>
  </header>

  <div
    class="flex h-[80dvh] flex-col items-center justify-center gap-6 lg:gap-12">
    <h1
      class="animate-fade-in px-4 text-center font-title text-5xl leading-tight text-secondary lg:text-6xl">
      Encontre um espa&ccedil;o para voc&ecirc;
    </h1>
    <a
      class="animate-fade-in border-4 border-primary px-6 py-3 font-text text-secondary backdrop-blur-md transition hover:bg-white hover:text-black lg:text-lg"
      href="https://wa.me/48991191144?text=Oi!%20Gostaria%20de%20marcar%20um%20horario"
      target="_blank">Agende uma massagem</a
    >
  </div>
</main>

<style>
  main {
    background: url("https://res.cloudinary.com/dkjanvewl/image/upload/b_rgb:1e1b1b,o_57/v1713438193/bg_eucntb.jpg")
      #1e1b1b no-repeat center;
    background-size: cover;
  }
</style>
